/**
 * Site header
 */
.site-header {

    //fix the header in the top
    position: fixed;
    width: $full-width;
    background-color: white;

    z-index: 1;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $black-color;
    }

    .mobile-header {
        display: none;
        @include media-query($on-palm) {
            display: inline;
        }
    }
}


.site-nav {
    float: right;
    line-height: 80px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        text-transform: uppercase;
        webkit-transition: color 1s ease-out; /* For Safari 3.1 to 6.0 */
        transition: color 1s ease-out;
        background-color: white;

        &:hover {
            color: $red-hover-color;
        }
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit;
        background-color: $background-color;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $black-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;

            > a {
               background-color: white;
            }

        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            background-color: white;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit;
    background-color: $yellow-hover-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    margin-left: -$spacing-unit / 3;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 3;
}

.footer-col-1 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
}


@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc($full-width - (#{$spacing-unit} / 2));
        width:         calc($full-width - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    padding-top: 70px;
}

/**
 * Pages layout
 */

.post-title {
    font-size: 42px;
    line-height: 1;
    margin-top: 10%;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.content {
  margin-top: $box-indent;
  p {
        margin-bottom: $box-indent;
  }
}

.container {
  display: -webkit-flex;
  display: flex;
  margin-top: $box-indent;

  > .about-text {
  margin-bottom: 100px;
  }
}

.flex-item-3 {
    width: $full-width / 2;

    > .inside-image {
      width: $full-width;
    }

    a {
      color: $red-hover-color;
    }

}

.flex-item-4 {
    //margin-top: $spacing-unit;
    width: $full-width / 2;
    padding: 15px;

    > .inside-image {
      width: $full-width;
    }

    > .inside-png-image {
      margin-top: 7px;
      width: $full-width;
    }

    > .inside-feature-image {
      margin-top: 7px;
      width: 100%;
    }

    a {
      color: $red-hover-color;
    }

}

/**
 *  About page
 */

.yellow-header {
    width: auto;
    margin-top: 40px;
    display: block;

    > .inside-logo {
      width: $full-width;
    }
}

/**
 *  Team page
 */

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
    height: auto;
    line-height:30px;
}

.flex-item {
    padding: 10px;
    background: $yellow-hover-color;
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 0px;
    height: auto;

    > img {
      padding-bottom: 10px;
    }

    > .inside-feature-image {
      margin-top: 7px;
      width: 70%;
    }
}

.team-links {
  margin-right: 15px;
}

.team-icon {
  float: right;
  margin-right: 3px;
  > svg {
    width: 22px;
    height: 22px;
    margin-top: 5px;
  }
}

/**
 *  Contact page
 */
.contact-item {
    padding: 30px;
    background: $yellow-hover-color;
    margin: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 auto;
    height: auto;

    > p {
      padding-bottom: 40px;
    }
}

.contribute {
    margin-top: 40px;

    > a {
      color: $text-color;
    }

    > p {
      padding-bottom: 20px;
    }
}
